<div class="flexBox">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form">
        <mat-form-field>
          <mat-label>Add Item:</mat-label>
          <input matInput formControlName="itemControl" type="text" id="ItemInput" />
          <mat-error *ngIf="form.get('itemControl')?.hasError('valueExists')">
            The value already exists
          </mat-error>
          <mat-error *ngIf="form.get('itemControl')?.hasError('notEmptyString')">
            Please enter a value
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <div class="formActions">
        <button mat-raised-button (click)="addToList()" [disabled]="!form.get('itemControl')?.valid">Save</button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
<mat-card *ngIf="items.length > 0">
  <mat-list id="itemsList">
    <mat-list-item *ngFor="let item of items">{{ item }}</mat-list-item>
  </mat-list>
</mat-card>
