.flexBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: end; /*Y axis (when direction is row)*/
    justify-content: center; /*X axis*/
    padding: 20px 0px;
}

.formActions {
    display: flex;
    justify-content: end;
}

.card {
    min-width: 60%;
}